body {
  font-family: sans-serif;
  background-image: url(../images/patch.jpg);
}

#centered{
  text-align: center;
}

#justified{
  text-align: justify;
}

h1 {
  color: #F49E0A;
  font-style: italic;
  font-weight: normal;
}
h2 {
  color: #F49E0A;
  font-style: italic;
  font-weight: normal;
}
h3 {
  color: #F49E0A;
  font-style: italic;
  font-weight: normal;
}

.border {
  border: 40px solid #000000;
  padding: 10px;
  background-color: #ffffff;
}
