.parallax-window {
    min-height: 400px;
    background: transparent;
}


label, form{
  text-align: center;
}



label{
  padding: 200px;
}


body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}


#locate{
  font-weight: bold;
}

header{
grid-column: span 4;
background-color: #62ECE3;

font-family: 'Alice', serif;
font-size: 38px;
padding-left: 75px;
width: 1125px;
margin: 0;
}


nav{
grid-column: span 12;
font-family: 'Fira Sans Condensed', sans-serif;
font-size: 32px;
margin-bottom: 20px;
}



nav ul {
  list-style: none;
  margin: 0;
  margin-left: 300px;
  padding: 0;
}

nav li{
  display: inline;
}

a{
  color: black;
  text-decoration:none;
}

nav li a{
  display: inline;
  background-color: #62ECE3;
  color: black;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-left: 20px;
  text-decoration:none;
  font-weight: lighter;
  transition: font-weight .05s;
}
a:hover{
  font-weight:bold;

}



main{
  grid-column: span 12;
  font-family: Georgia;
  font-size: 20px;
  margin-left: 0;
  line-height: 1.75;

}

#grid{
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 140px;
}

#rightali{
  text-align:right;
}

#paraspace{
  margin-bottom: 300px;
}

#centerali{
  margin: 30px;
  margin-left: -55px;
  margin-top: 150px;
  padding: 0;
}

section{
  grid-column: span 3;
  margin: 50px;
  margin-right: 0;

}


.marg{
margin: 24px;

}

.formmatting{
text-align: center;
}

#contactdoc{
  display:inline-block;
}



.intro{
background-color: #9DA0F5;
margin:24px;
padding: 34px;
font-size: 30px;;
text-align:justify;
border-radius: 10px;

}

.blocklist{
  display:block;
  margin: 24px;
  padding: 100px;
  margin-left: -15px;
  font-size: 48px;
  text-align:center;
  border: black solid 6px;
  background-color: #9DA0F5;
  text-shadow: 2px 2px 2px grey;
  border-radius: 40px;

}

h2{
  font-family: 'Alice', serif;
  font-size: 50px;
  padding: 0;
  margin: 20px;
  margin-left: 40px;
}
.imgrow {
grid-column: span 4;
margin: 6px;
box-shadow: 0 8px 6px -6px black;
}

footer{
grid-column: span 12;
font-family: Georgia;
font-size: 15px;
padding:24px;
padding-left: 1000px;
background-color: #F1AF2A;
}


footer a{
  font-size:40px;
  text-decoration: none;
  padding: 2px;
}


#erase{
  font-size:15px;
}
